DB_NAME="base_transaccional"
DBDW_NAME="base_datawarehouse"
DB_USER="usuario"
DB_PASSWORD="clave"
DB_HOST="ip_host"
PORT="puerto"
JWT_SECRET="Secreto_largo_y_dificil_de_adivinar"
FX_CLIENT_ID="Client_ID_De_Fedex"
FX_CLIENT_SECRET="Client_Secret_De_Fedex"
DHL-API-Key="API_KEY_de_DHL"